@model EkinciProject.Web.Models.ContactViewModel

<ul class="my_address">
    <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i>@Model.Mail</a></li>
    <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i>@Model.Phone</a></li>
    <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i><span>@Model.Address</span></a></li>
</ul>
