@model EkinciProject.Web.Models.MostAskedFooterViewModel

<ul class="quick_link">
    @foreach (var item in Model.MostAskedList)
    {
        <li><a href="@Url.Action("MostAsked","MostAsked",new { Id = item.Id})"><i class="fa fa-chevron-right"></i>@item.Question</a></li>
    }
</ul>
