
@{
    ViewBag.Title = "Index";
}

<!-- Slider area -->
<section class="slider_area row m0">
    <div class="slider_inner">
        <div data-thumb="~/Content/images/slider-1.jpg" data-src="@Url.Content("~/Content/images/slider-1.jpg")">
            <div class="camera_caption">
                <div class="container">
                    <h5 class=" wow fadeInUp animated">Welcome to our</h5>
                    <h3 class=" wow fadeInUp animated" data-wow-delay="0.5s">CLEAN, MODERN, MULTIPURPOSE THEME</h3>
                    <p class=" wow fadeInUp animated" data-wow-delay="0.8s">Our team of professionals will help you turn your dream home or flat into a reality fast. The Love Boat promises something for everyone. Now the world don't move to the beat of just one</p>
                    <a class=" wow fadeInUp animated" data-wow-delay="1s" href="#">Read More</a>
                </div>
            </div>
        </div>
        <div data-thumb="~/Content/images/slider-2.jpg" data-src="@Url.Content("~/Content/images/slider-2.jpg")">
            <div class="camera_caption">
                <div class="container">
                    <h5 class=" wow fadeInUp animated">Welcome to our</h5>
                    <h3 class=" wow fadeInUp animated" data-wow-delay="0.5s">CLEAN ,MODERN, MULTIPURPOSE THEME</h3>
                    <p class=" wow fadeInUp animated" data-wow-delay="0.8s">Our team of professionals will help you turn your dream home or flat into a reality fast. The Love Boat promises something for everyone. Now the world don't move to the beat of just one</p>
                    <a class=" wow fadeInUp animated" data-wow-delay="1s" href="#">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Slider area -->

<!-- About Us Area -->
<section class="about_us_area row">
    <div class="container">
        <div class="tittle wow fadeInUp">
            <h2>Hakkımızda</h2>
            <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry</h4>
        </div>
        <div class="row about_row">
            <div class="who_we_area col-md-7 col-sm-6">
                <div class="subtittle">
                    <h2>Biz Kimiz</h2>
                </div>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                <a href="#" class="button_all">Contact Now</a>
            </div>
            <div class="col-md-5 col-sm-6 about_client">
                <img src="~/Content/images/about_client.jpg" alt="">
            </div>
        </div>
    </div>
</section>
<!-- End About Us Area -->
<!-- What ew offer Area -->
<section class="what_we_area row">
    <div class="container">
        <div class="tittle wow fadeInUp">
            <h2>Hizmetlerimiz</h2>
            <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry</h4>
        </div>
        <div class="row construction_iner">
            <div class="col-md-4 col-sm-6 construction">
                <div class="cns-img">
                    <img src="~/Content/images/cns-1.jpg" alt="">
                </div>
                <div class="cns-content">
                    <i class="fa fa-home" aria-hidden="true"></i>
                    <a href="#">BUILDING CONSTRUCTION</a>
                    <p>Lorem Ipsum is simply dummy text of the print-ing and typesetting industry. Lorem Ipsum has been the industry's standard dummy </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 construction">
                <div class="cns-img">
                    <img src="~/Content/images/cns-2.jpg" alt="">
                </div>
                <div class="cns-content">
                    <i class="fa fa-keyboard-o" aria-hidden="true"></i>
                    <a href="#">PROJECT PLANNING</a>
                    <p>Lorem Ipsum is simply dummy text of the print-ing and typesetting industry. Lorem Ipsum has been the industry's standard dummy </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 construction">
                <div class="cns-img">
                    <img src="~/Content/images/cns-3.jpg" alt="">
                </div>
                <div class="cns-content">
                    <i class="fa fa-gavel" aria-hidden="true"></i>
                    <a href="#">HOUSE RENOVATION</a>
                    <p>Lorem Ipsum is simply dummy text of the print-ing and typesetting industry. Lorem Ipsum has been the industry's standard dummy </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End What ew offer Area -->

<!-- Our Services Area -->
<section class="our_services_area">
    <div class="container">
        <div class="tittle wow fadeInUp">
            <h2>Our Services</h2>
            <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry</h4>
        </div>
        <div class="portfolio_inner_area">
            <div class="portfolio_filter">
                <ul>
                    <li data-filter="*" class="active"><a href=""> All</a></li>
                    <li data-filter=".photography"><a href="">ARCHITECTURE</a></li>
                    <li data-filter=".branding"><a href="">Building</a></li>
                    <li data-filter=".webdesign"><a href="">CONSTRUCTION</a></li>
                    <li data-filter=".adversting"><a href="">DESIGN</a></li>
                    <li data-filter=".painting"><a href="">Painting</a></li>
                </ul>
            </div>
            <div class="portfolio_item">
                <div class="grid-sizer"></div>
                <div class="single_facilities col-xs-4 p0 painting photography adversting">
                    <div class="single_facilities_inner">
                        <img src="~/Content/images/gallery/sv-1.jpg" alt="">
                        <div class="gallery_hover">
                            <h4>Construction</h4>
                            <ul>
                                <li><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="single_facilities col-xs-4 p0 webdesign">
                    <div class="single_facilities_inner">
                        <img src="~/Content/images/gallery/sv-2.jpg" alt="">
                        <div class="gallery_hover">
                            <h4>Construction</h4>
                            <ul>
                                <li><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="single_facilities col-xs-4 painting p0 photography branding">
                    <div class="single_facilities_inner">
                        <img src="~/Content/images/gallery/sv-3.jpg" alt="">
                        <div class="gallery_hover">
                            <h4>Construction</h4>
                            <ul>
                                <li><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="single_facilities col-xs-4 p0 adversting webdesign adversting">
                    <div class="single_facilities_inner">
                        <img src="~/Content/images/gallery/sv-4.jpg" alt="">
                        <div class="gallery_hover">
                            <h4>Construction</h4>
                            <ul>
                                <li><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="single_facilities col-xs-4 p0 painting adversting branding">
                    <div class="single_facilities_inner">
                        <img src="~/Content/images/gallery/sv-5.jpg" alt="">
                        <div class="gallery_hover">
                            <h4>Construction</h4>
                            <ul>
                                <li><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="single_facilities col-xs-4 p0 webdesign photography magazine adversting">
                    <div class="single_facilities_inner">
                        <img src="~/Content/images/gallery/sv-6.jpg" alt="">
                        <div class="gallery_hover">
                            <h4>Construction</h4>
                            <ul>
                                <li><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Our Services Area -->
<!-- Our Team Area -->
<section class="our_team_area">
    <div class="container">
        <div class="tittle wow fadeInUp">
            <h2>Takımımız</h2>
            <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry</h4>
        </div>
        <div class="row team_row">
            <div class="col-md-3 col-sm-6 wow fadeInUp">
                <div class="team_membar">
                    <img src="~/Content/images/team/tm-1.jpg" alt="">
                    <div class="team_content">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        </ul>
                        <a href="#" class="name">Prodip Ghosh</a>
                        <h6>Founder &amp; CEO</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.2s">
                <div class="team_membar">
                    <img src="~/Content/images/team/tm-2.jpg" alt="">
                    <div class="team_content">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        </ul>
                        <a href="#" class="name">Emran Khan</a>
                        <h6>Web-Developer</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team_membar">
                    <img src="~/Content/images/team/tm-3.jpg" alt="">
                    <div class="team_content">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        </ul>
                        <a href="#" class="name">Prodip Ghosh</a>
                        <h6>Founder &amp; CEO</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.4s">
                <div class="team_membar">
                    <img src="~/Content/images/team/tm-4.jpg" alt="">
                    <div class="team_content">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        </ul>
                        <a href="#" class="name">Jakaria Khan</a>
                        <h6>Founder &amp; CEO</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Our Team Area -->

<!-- Our Featured Works Area -->
<section class="featured_works row" data-stellar-background-ratio="0.3">
    <div class="tittle wow fadeInUp">
        <h2>Our Featured Works</h2>
        <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry</h4>
    </div>
    <div class="featured_gallery">
        <div class="col-md-3 col-sm-4 col-xs-6 gallery_iner p0">
            <img src="~/Content/images/gallery/gl-1.jpg" alt="">
            <div class="gallery_hover">
                <h4>Bolt Apartments</h4>
                <a href="#">VIEW PROJECT</a>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 gallery_iner p0">
            <img src="~/Content/images/gallery/gl-2.jpg" alt="">
            <div class="gallery_hover">
                <h4>Bolt Apartments</h4>
                <a href="#">VIEW PROJECT</a>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 gallery_iner p0">
            <img src="~/Content/images/gallery/gl-3.jpg" alt="">
            <div class="gallery_hover">
                <h4>Bolt Apartments</h4>
                <a href="#">VIEW PROJECT</a>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 gallery_iner p0">
            <img src="~/Content/images/gallery/gl-4.jpg" alt="">
            <div class="gallery_hover">
                <h4>Bolt Apartments</h4>
                <a href="#">VIEW PROJECT</a>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 gallery_iner p0">
            <img src="~/Content/images/gallery/gl-5.jpg" alt="">
            <div class="gallery_hover">
                <h4>Bolt Apartments</h4>
                <a href="#">VIEW PROJECT</a>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 gallery_iner p0">
            <img src="~/Content/images/gallery/gl-6.jpg" alt="">
            <div class="gallery_hover">
                <h4>Bolt Apartments</h4>
                <a href="#">VIEW PROJECT</a>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 gallery_iner p0">
            <img src="~/Content/images/gallery/gl-7.jpg" alt="">
            <div class="gallery_hover">
                <h4>Bolt Apartments</h4>
                <a href="#">VIEW PROJECT</a>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 gallery_iner p0">
            <img src="~/Content/images/gallery/gl-8.jpg" alt="">
            <div class="gallery_hover">
                <h4>Bolt Apartments</h4>
                <a href="#">VIEW PROJECT</a>
            </div>
        </div>
    </div>
</section>
<!-- End Our Featured Works Area -->
<!-- Our Latest Blog Area -->
<section class="latest_blog_area">
    <div class="container">
        <div class="tittle wow fadeInUp">
            <h2>Haberler</h2>
            <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry</h4>
        </div>
        <div class="row latest_blog">
            <div class="col-md-4 col-sm-6 blog_content">
                <img src="~/Content/images/blog/lb-1.jpg" alt="">
                <a href="#" class="blog_heading">Our Latest Project</a>
                <h4><small>by  </small><a href="#">Emran Khan</a><span>/</span><small>ON </small> October 15, 2016</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sagittis iaculis velit in tristique. Curabitur ac urna urna. Sed sollicitudin at nisi sed accumsan... <a href="#">Read More</a></p>
            </div>
            <div class="col-md-4 col-sm-6 blog_content">
                <img src="~/Content/images/blog/lb-2.jpg" alt="">
                <a href="#" class="blog_heading">Our Latest Project</a>
                <h4><small>by  </small><a href="#">Prodip Ghosh</a><span>/</span><small>ON </small> October 15, 2016</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sagittis iaculis velit in tristique. Curabitur ac urna urna. Sed sollicitudin at nisi sed accumsan... <a href="#">Read More</a></p>
            </div>
            <div class="col-md-4 col-sm-6 blog_content">
                <img src="~/Content/images/blog/lb-3.jpg" alt="">
                <a href="#" class="blog_heading">Our Latest Project</a>
                <h4><small>by  </small><a href="#">Prodip Ghosh</a><span>/</span><small>ON </small> October 15, 2016</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sagittis iaculis velit in tristique. Curabitur ac urna urna. Sed sollicitudin at nisi sed accumsan... <a href="#">Read More</a></p>
            </div>
        </div>
    </div>
</section>
<!-- End Our Latest Blog Area -->
<!-- Our Partners Area -->
<section class="our_partners_area">
    <div class="container">
        <div class="tittle wow fadeInUp">
            <h2>Referanslar</h2>
            <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry</h4>
        </div>
        <div class="partners">
            <div class="item"><img src="~/Content/images/client_logo/client_logo-1.png" alt=""></div>
            <div class="item"><img src="~/Content/images/client_logo/client_logo-2.png" alt=""></div>
            <div class="item"><img src="~/Content/images/client_logo/client_logo-3.png" alt=""></div>
            <div class="item"><img src="~/Content/images/client_logo/client_logo-4.png" alt=""></div>
            <div class="item"><img src="~/Content/images/client_logo/client_logo-5.png" alt=""></div>
        </div>
    </div>
</section>
<!-- End Our Partners Area -->
